{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}
{% block body %} 
  
  <div class="container">
  <h3>Contact our Team</h3>
  <form method="post" action="/contact" >
   {% csrf_token %}
  <div class="form-group">
    <label for="name">Your Name</label>
    <input class="form-control" type="text" id="name"  name="name" aria-describedby="name" placeholder="Type here">
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input class="form-control" type="text" id="email"  name="email"  aria-describedby="email" placeholder="Type here">
  </div>

  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input class="form-control" type="text" id="phone" name="phone"  aria-describedby="phone" placeholder="Type here">
  </div>

  <div class="form-group">
    <label for="desc">Tell us about your query.</label>
    <textarea placeholder="Type here" class="form-control" name="desc"  name="desc" id="desc" cols="30" rows="4"></textarea>
  </div>

 
  <button type="submit" class="btn btn-primary">Submit</button> 
  {% comment %} <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
    
 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        confirm submission
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">yes</button>
        <button class="btn btn-primary">no</button>
      </div>
    </div>
  </div>
</div> {% endcomment %}
  </form>
  
  </div>




{% endblock body %}