{% extends 'base.html' %}

{% block title %} blogPost {% endblock title %}
{% block blogactive %}active{% endblock blogactive %}
{% block body %} 
  <div class="container px-5">
  {% comment %} <div class="card mb-4"> {% endcomment %}
    <div class="card-body">
      <h5 class="card-title text-success">{{post.title}}</h5>
      <p class="m-0"> Author:{{post.author}}</p>
      <p class="card-text">{{post.content}}</p>
      <p class="card-text "><small class="text-primary">{{post.timeStamp}}</small></p>
      </div>
  {% comment %} </div> {% endcomment %}
</div>


<div class="container pt-5">
<hr>
  <h5 class="px-5">COMMENTS</h5>
    <div class="row pl-5 ml-1 pt-2">
      <div class="col-md-2">
        <p>image</p>
        <p>id</p>
      </div>
      <div class="col-md-8">your comment here</div>
    </div>
    
</div>
{% endblock body %}